/*Login*/

#bar
{
    height: 150px; 
    background-color: green; 
    color: greenyellow; 
    font-size: 40px;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#description
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

#signup-button{
    font-size: 20px;
    background-color: black;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    float: right;
}

#signup-form{
    font-weight: bold;
    background-color: aliceblue;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
}



#text{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: solid 1px goldenrod;
    padding: 4px;
    font-size: 15px;
}


#button{
    height: 30px;
    width: 300px;
    background-color: green; 
    color: greenyellow; 
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

body{
    background-color: aqua;
}